  
<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; Back To Dashboard</a>
  <h2 class="title has-text-centered">Create Currently News Post</h2><hr>

  <form class="new-post-form">
    
      <label for="post-title">Post Title:</label>
      <input class="input" type="text" id="post-title" placeholder="Insert Post Title"/>
    </div>
    <div>
      <label for="post-content">Post Content:</label>
      <input class="textarea is-large" id="post-content" placeholder="Insert Your Content"/>
    </div>
  <div class="row-is-full content has-text-centered">
    <button type="submit" class="button is-primary">Create Post</button>

  </form>
</section>

<script src="/add-post.js"></script>